name: release-please
on:
  push:
    branches:
      - master

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}

    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python

  publish:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/python_cli_template

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Python
        uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: 3

      - name: Install dependencies
        run: python -m pip install build

      - name: Build package
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1

  upload:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Python
        uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: 3

      - name: Install dependencies
        run: pip install pyinstaller

      - name: Build binary
        run: pyinstaller src/python_cli_template/cli.py --name python_cli_template

      - name: Upload Release Artifact
        shell: bash
        run: |
          cd dist
          os=${{ matrix.os }}
          filename=${os%-*}.zip
          zip -r $filename python_cli_template
          gh release upload ${{ needs.release.outputs.tag_name }} $filename
        env:
          GH_TOKEN: ${{ github.token }}
